.footer{
    background-color: #5d5656;
    position: relative;
    display: flex;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}